<html>
  <head>
    <title>Home - Verdant Shift</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body style="text-align: center;">
    <h1>Welcome, <%= username %>!</h1>
    <button onclick="window.location = '/play/main'" class="special-button">Play</button>
    <br>
    <br>
    <button onclick="logout()" class="mini-button">Log Out</button>
    <br>
    <br>
    <button onclick="deleteAccount()" class="mini-button">Delete Account</button>
    <div id="extras">
    <br>
    <%- adminbutton %>
    </div>
  </body>
  <script>
    function logout() {
      window.location = "/logout"
    }

    function deleteAccount() {
      window.location = "/deleteaccount"
    }

    <%- adminfunction %>
  </script>
</html>