<html>
  <head>
    <title>Home - Verdant Shift</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body style="text-align: center;">
    <h1>Welcome, <%= username %>!</h1>
    <button onclick="window.location = '/play/main'" class="special-button" style="font-size: 20px;">Play</button>
    <br>
    <br>
    <button onclick="window.location='/extras?help=true'" class="special-button">Help</button>
    <br>
    <br>
    <button onclick="window.location = '/settings'" class="mini-button">Account Settings</button>
    <br>
    <br>
    <button onclick="window.location='/extras'" class="mini-button">Extras</button>
    <div id="extras">
    <br>
    <%- adminbutton %>
    </div>
  </body>
  <script>
    <%- adminfunction %>
  </script>
</html>