<html>
  <head>
    <title>Home - PichuGame</title>
  </head>
  <h1>Hello <%= user.name %>!</h1>
  <br>
  <p>Account linked to replit</p>
  <br>
  <br>
  <h3>Important!</h3>
  <p>Your account is not registered to PichuGame. To play, you must register.</p><br>
  <button onclick="window.location = '/createaccount'">Register now</button>
</html>